<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
			  <th>Job Id</th>
			  <th>Date</th>
			  <th>Action</th>
			</tr>
		</thead>
	  <tbody>
	  	<% obj.each do |document_received| %>
				<tr>
					<td><%= document_received.job_id %></td>
					<td><%= document_received.date %></td>
					<td><%= link_to "Edit", edit_document_received_path(document_received) %> | <%= link_to "Delete", document_received_path(document_received), method: :delete, data: { confirm: "Are you sure you want to delete this Document Received?"}  %></td>
				</tr>
			<% end %>
	  </tbody>
	</table>
</div>
